﻿
@model KiemDuyetPhamMem_ThucHanh_SoTietKiem.Models.RegisterViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<style>
    body {
        background-color: #267836;
    }

    .mySlides {
        display: none;
    }

    .text {
        color: #f2f2f2;
        font-size: 20px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }

    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .dotactive {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #123419;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
</style>
<body>

    <h2 class="w3-center">Money Lover</h2>

    <div class="w3-content w3-display-container" style="width:400px">
        <div class="mySlides w3-animate-opacity">
            <div class="numbertext">1 / 5</div>
            <img class="" src="~/Content/hinhanh/1.png" style="width:100%">
            <div class="text">Quản lý tài chính hiệu quả với MoneyLover</div>
        </div>
        <div class="mySlides w3-animate-opacity">
            <div class="numbertext">2 / 5</div>
            <img class="disabled" src="~/Content/hinhanh/2.png" style="width:100%">
            <div class="text">Quản lý chi tiêu cá nhân và hoàn thiện mục tiêu tài chính</div>
        </div>
        <div class="mySlides w3-animate-opacity">
            <div class="numbertext">3 / 5</div>
            <img class="disabled" src="~/Content/hinhanh/3.png" style="width:100%">
            <div class="text">Dễ dàng truy cập dữ liệu Money Lover trên nhiều thiết bị</div>
        </div>
        <div class="mySlides w3-animate-opacity">
            <div class="numbertext">4 / 5</div>
            <img class="disabled" src="~/Content/hinhanh/4.png" style="width:100%">
            <div class="text">Kiểm soát từng khoản thu chi với hệ thống báo cáo chi tiết</div>
        </div>
        <div class="mySlides w3-animate-opacity">
            <div class="numbertext">5 / 5</div>
            <img class="disabled" src="~/Content/hinhanh/5.png" style="width:100%">
            <div class="text">Lên kế hoạc tài chính thông minh và từng bước tiết kiệm để hiện thực hóa ước mơ</div>
        </div>

        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
    </div>
    <br />
    <div style="text-align:center">
        <span id="dot1" class="dot dotactive" onclick="showslide(1); dotactive(1)"></span>
        <span id="dot2" class="dot" onclick="showslide(2); dotactive(2)"></span>
        <span id="dot3" class="dot" onclick="showslide(3); dotactive(3)"></span>
        <span id="dot4" class="dot" onclick="showslide(4); dotactive(4)"></span>
        <span id="dot5" class="dot" onclick="showslide(5); dotactive(5)"></span>

    </div>
    <br />

    <div class="w3-content w3-display-container" style="width:400px">
        <button type="button" class=" btn btn-default btn-lg btn-block" style="color:#267836" onclick="document.getElementById('id04').style.display='block'">LẦN ĐẦU SỰ DỤNG MONEY LOVER </button>
    </div>
    <br />
    <div class="w3-content w3-display-container" style="width:400px">
        <button type="button" class=" btn btn-success btn-lg btn-block" onclick="document.getElementById('id03').style.display='block'">ĐÃ SỬ DỤNG MONEY LOVER </button>
    </div>
    @*FORM đăng nhập*@
    <div id="id03" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-bottom" style="max-width:500px">
            <div class="w3-container">
                <section id="loginForm">
                    <div class="w3-center">
                        <br>
                        <span onclick="document.getElementById('id03').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
                        <div class="w3-margin-top">
                            <h1>
                                Đăng nhập bằng tài khoản email
                            </h1>
                        </div>
                    </div>
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4></h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="col-md-3"><b>Email</b></label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Email, new { @class = "w3-input w3-margin-bottom" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3"><b>Mật khẩu</b></label>
                            <div class="col-md-9">
                                @Html.PasswordFor(m => m.Password, new { @class = "w3-input w3-margin-bottom" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="">
                            </div>
                        </div>
                        <button class=" btn btn-success btn-lg btn-block w3-margin-bottom" type="submit">
                            ĐĂNG NHẬP
                        </button>

                        @* Enable this once you have account confirmation enabled for password reset functionality
                            <p>
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </p>*@
                    }
                    <button class=" btn btn-default btn-lg btn-block w3-margin-bottom" type="submit"
                            onclick="document.getElementById('id04').style.display = 'block';document.getElementById('id03').style.display = 'none'">
                        ĐĂNG KÝ
                    </button>

                </section>
            </div>

        </div>
    </div>
    @*FORM ĐĂNG Ký*@
    <div id="id04" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-bottom" style="max-width:500px">
            <div class="w3-container">
                <section id="loginForm">
                    <div class="w3-center">
                        <br>
                        <span onclick="document.getElementById('id04').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
                        <div class="w3-margin-top">
                            <h1>
                                Đăng ký bằng tài khoản email.
                            </h1>
                        </div>
                    </div>
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4></h4>
                        <hr />
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="col-md-3"><b>Email</b></label>

                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Email, new { @class = "w3-input w3-margin-bottom" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3"><b>Mật khẩu</b></label>
                            <div class="col-md-9">
                                @Html.PasswordFor(m => m.Password, new { @class = "w3-input w3-margin-bottom" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3"><b>Nhập lại mật khẩu</b></label>
                            <div class="col-md-9">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "w3-input w3-margin-bottom" })
                            </div>
                        </div>
                        <button class=" btn btn-success btn-lg btn-block w3-margin-bottom" type="submit">
                            ĐĂNG KÝ
                        </button>
                    }

                    <button class=" btn btn-default btn-lg btn-block w3-margin-bottom" type="submit"
                            onclick="document.getElementById('id03').style.display = 'block';document.getElementById('id04').style.display = 'none'">
                        ĐĂNG NHẬP
                    </button>

                </section>
            </div>

        </div>
    </div>






    <script>
        var slideIndex = 1;
        showDivs(slideIndex);
        dotactive(slideIndex);
        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex - 1].style.display = "block";

            $('#dot1').removeClass('dotactive');
            $('#dot2').removeClass('dotactive');
            $('#dot3').removeClass('dotactive');
            $('#dot4').removeClass('dotactive');
            $('#dot5').removeClass('dotactive');
            $('#dot' + (slideIndex).toString()).addClass('dotactive');
        }
        function showslide(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");

            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[n - 1].style.display = "block";

        }
        function dotactive(n) {
            $('#dot1').removeClass('dotactive');
            $('#dot2').removeClass('dotactive');
            $('#dot3').removeClass('dotactive');
            $('#dot4').removeClass('dotactive');
            $('#dot5').removeClass('dotactive');
            $('#dot' + n.toString()).addClass('dotactive');
        }
    </script>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>