﻿@using Microsoft.AspNet.Identity
@{
    if (Request.IsAuthenticated == false)
    {
        Response.Redirect("~/Home", false);
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="~/Content/bootstrap/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- DataTables CSS -->
    <link href="~/Content/bootstrap/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
    <!-- DataTables Responsive CSS -->
    <link href="~/Content/bootstrap/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/bootstrap/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/Content/bootstrap/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/w3.css">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
@*class="w3-light-grey"*@
<body class="w3-light-gray">
    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-green w3-card">
            <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
            @Html.ActionLink("Money Lover", "Index", "SoTietKiems", new object { }, new { @class = "w3-bar-item w3-button w3-padding-large w3-hide-small" })
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" ,@class= "w3-bar-item w3-button w3-padding-large w3-hide-small" })

            @*<div class="w3-dropdown-hover w3-hide-small">
            <button class="w3-padding-large w3-button" title="More">MORE <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="#" class="w3-bar-item w3-button">Merchandise</a>
                <a href="#" class="w3-bar-item w3-button">Extras</a>
                <a href="#" class="w3-bar-item w3-button">Media</a>
            </div>
        </div>*@
            <a class="w3-button w3-padding-large w3-hover-red w3-hide-small w3-right" onclick="document.getElementById('ThongBaoDangXuat').style.display='block'">Đăng Xuất</a>
        </div>
    </div>

    <!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
    <div id="navDemo" class="w3-bar-block w3-green w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:44px">
        <a class="w3-bar-item w3-button w3-padding-large" onclick="document.getElementById('ThongBaoDangXuat').style.display='block'">Đăng Xuất</a>
    </div>


    <!-- !PAGE CONTENT!  class="w3-main w3-light-gray"  -->
    <div class="w3-container w3-light-gray">
        @RenderBody()
        <!-- End page content -->
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <div id="ThongBaoDangXuat" class="w3-modal" style="display:none">
        <div class="w3-modal-content login-panel panel panel-default w3-animate-zoom w3-light-gray" style="max-width:400px;margin-top:10%">
            <div class="w3-container">
                <section id="loginForm">
                    <div class="">
                        <br>
                        <span onclick="document.getElementById('ThongBaoDangXuat').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
                        <div class="">
                            <h4>
                                Confirm !
                            </h4>
                            <hr />
                        </div>
                    </div>

                    <div class="w3-padding">
                        <div class="form-group">
                            <img src="~/Content/hinhanh/warning.png" class="col-md-4  w3-margin-bottom w3-image" />
                            <div class=" col-md-8">
                                <p>Bạn có muốn đăng xuất?</p>
                            </div>
                        </div>
                        <br />
                        <div class="w3-container form-group">
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="col-sm-6">
                                    <a href="javascript:document.getElementById('logoutForm').submit()" class="w3-hover-blue-gray btn w3-blue btn-lg btn-block w3-margin-bottom ">Có</a>
                                </div>

                            }
                            <div class="col-sm-6">
                                <button onclick="document.getElementById('ThongBaoDangXuat').style.display='none'" class=" btn btn-default btn-lg btn-block w3-margin-bottom ">
                                    Không
                                </button>
                            </div>

                        </div>

                    </div>
                </section>
            </div>

        </div>
    </div>
</body>
</html>
<script>
    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }

    // When the user clicks anywhere outside of the modal, close it
    var modal = document.getElementById('ticketModal');
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

