﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.box {
    margin:0;
    padding:0;
}
.box .inputBox
{
    position:relative;
    
}
.box .inputBox input
{
    width:100%;
    padding:10px 0;
    font-size:16px;
    color: black;
    margin-bottom:30px;
    border:none;
    border-bottom: 2px solid #068a01;
    outline:none;
    background: transparent;
}
.box .inputBox label
{
    position:absolute;
    top: 0;
    left:0;
    padding: 10px 0;
    font-size:16px;
    color:#068a01;
    pointer-events:none;
    transition: .5s;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label
{
        top: -18px;
        left: 0;
        color: #068a01;
        font-size: 12px;
}