﻿@using Microsoft.AspNet.Identity

@model KiemDuyetPhamMem_ThucHanh_SoTietKiem.Models.RegisterViewModel
@using KiemDuyetPhamMem_ThucHanh_SoTietKiem.Models

@{
    Layout = null;
    ViewBag.Title = "Register";
    if (Request.IsAuthenticated == true)
    {
        Response.Redirect("~/SoTietKiems", false);
    }
    int demLoi = 0;
    foreach (ModelState modelState in ViewData.ModelState.Values)
    {
        foreach (ModelError error in modelState.Errors)
        {
            demLoi++;
        }
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/w3.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            background-color: #267836;
        }

        .mySlides {
            display: none;
        }

        .text {
            color: #f2f2f2;
            font-size: 20px;
            padding: 8px 12px;
            position: absolute;
            bottom: 8px;
            width: 100%;
            text-align: center;
        }

        .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }

        .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

        .dotactive {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #123419;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }
    </style>
</head>

<body>

    <h2 class="w3-center">Money Lover</h2>

    <div class="w3-content w3-display-container" style="width:400px">
        <div class="mySlides w3-animate-opacity">
            <div class="numbertext">1 / 5</div>
            <img class="" src="~/Content/hinhanh/1.png" style="width:100%">
            <div class="text">Quản lý tài chính hiệu quả với MoneyLover</div>
        </div>
        <div class="mySlides w3-animate-opacity">
            <div class="numbertext">2 / 5</div>
            <img class="disabled" src="~/Content/hinhanh/2.png" style="width:100%">
            <div class="text">Quản lý chi tiêu cá nhân và hoàn thiện mục tiêu tài chính</div>
        </div>
        <div class="mySlides w3-animate-opacity">
            <div class="numbertext">3 / 5</div>
            <img class="disabled" src="~/Content/hinhanh/3.png" style="width:100%">
            <div class="text">Dễ dàng truy cập dữ liệu Money Lover trên nhiều thiết bị</div>
        </div>
        <div class="mySlides w3-animate-opacity">
            <div class="numbertext">4 / 5</div>
            <img class="disabled" src="~/Content/hinhanh/4.png" style="width:100%">
            <div class="text">Kiểm soát từng khoản thu chi với hệ thống báo cáo chi tiết</div>
        </div>
        <div class="mySlides w3-animate-opacity">
            <div class="numbertext">5 / 5</div>
            <img class="disabled" src="~/Content/hinhanh/5.png" style="width:100%">
            <div class="text">Lên kế hoạc tài chính thông minh và từng bước tiết kiệm để hiện thực hóa ước mơ</div>
        </div>

        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
    </div>
    <br />
    <div style="text-align:center">
        <span id="dot1" class="dot dotactive" onclick="showslide(1);dotactive(1)"></span>
        <span id="dot2" class="dot" onclick="showslide(2);dotactive(2)"></span>
        <span id="dot3" class="dot" onclick="showslide(3);dotactive(3)"></span>
        <span id="dot4" class="dot" onclick="showslide(4);dotactive(4)"></span>
        <span id="dot5" class="dot" onclick="showslide(5);dotactive(5)"></span>

    </div>
    <br />

    <div class="w3-content w3-display-container" style="width:400px">
        <button type="button" class=" btn btn-default btn-lg btn-block" style="color:#267836" onclick="document.getElementById('id04').style.display='block'">LẦN ĐẦU SỰ DỤNG MONEY LOVER </button>
    </div>
    <br />
    <div class="w3-content w3-display-container" style="width:400px">
        <button type="button" class=" btn btn-success btn-lg btn-block" onclick="document.getElementById('id03').style.display='block'">ĐÃ SỬ DỤNG MONEY LOVER </button>
    </div>
    @*FORM ĐĂNG Ký*@
    <div id="id04" class="w3-modal" style="display:block">
        <div class="w3-modal-content login-panel panel panel-default w3-light-gray w3-animate-bottom" style="max-width:350px">
            <div class="w3-container">
                <section id="loginForm">
                    <div class="w3-center">
                        <br>
                        @Html.ActionLink("x", "Index", "Home", new object { }, new { @class = "w3-button w3-xlarge w3-transparent w3-display-topright", @title = "Close Modal" })
                        <div class="w3-margin-top">
                            <h1>
                                Đăng ký.
                            </h1>
                        </div>
                    </div>
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
                        <div class="box w3-margin-left">
                            <div class="inputBox">
                                <input name="Email" type="text" maxlength="50" required />
                                <label>Email</label>
                                @*@Html.TextBoxFor(m => m.Email, new { @class = "", @type = "email", @required = "true" })*@
                                <p>@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })</p>
                            </div>
                        </div>
                        <div class="box w3-margin-left">
                            <div class="inputBox">
                                <input name="Password" type="password" maxlength="50" required />
                                <label>Mật khẩu</label>
                                @*@Html.TextBoxFor(m => m.Email, new { @class = "", @type = "email", @required = "true" })*@
                                <p>@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })</p>
                            </div>
                        </div>
                        <div class="box w3-margin-left">
                            <div class="inputBox">
                                <input name="ConfirmPassword" type="password" maxlength="50" required />
                                <label>Nhập lại mật khẩu</label>
                                @*@Html.TextBoxFor(m => m.Email, new { @class = "", @type = "email", @required = "true" })*@
                                <p>@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })</p>
                            </div>
                        </div>
                        <button class=" btn btn-success btn-lg btn-block w3-margin-bottom" type="submit">
                            ĐĂNG KÝ
                        </button>
                    }

                    <button class="w3-light-gray btn btn-default btn-lg btn-block w3-margin-bottom" style="border:none;color:darkgreen" type="submit"
                            onclick="document.getElementById('id03').style.display = 'block';document.getElementById('id04').style.display = 'none'">
                        <p style="color:darkgreen;font-weight: bold;">ĐĂNG NHẬP</p>
                    </button>

                </section>
            </div>

        </div>
    </div>
    @if (demLoi > 0)
    {
        <div id="ThongBao" class="w3-modal" style="display:block">
            <div class="w3-modal-content login-panel panel panel-default w3-animate-zoom w3-light-gray" style="max-width:400px;margin-top:10%">
                <div class="w3-container">
                    <section id="loginForm">
                        <div class="">
                            @Html.ActionLink("x", "Index", "Home", new object { }, new { @class = "w3-button w3-xlarge w3-transparent w3-display-topright", @title = "Close Modal" })
                            <div class="">
                                <h4>Error</h4>
                            </div>
                        </div>

                        <div class=" w3-container w3-padding">
                            <a onclick="document.getElementById('ThongBao').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">
                                x
                            </a>
                            <div class="">
                                <img src="~/Content/hinhanh/error.png" class="col-md-4  w3-margin-bottom w3-image" />
                                <div class=" col-md-8">
                                    <p>
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    </p>
                                    <p>
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </p>
                                    <p>
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </p>
                                    <p>
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                    </p>
                                </div>
                            </div>
                            <button onclick="document.getElementById('ThongBao').style.display='none'" class="btn btn-danger btn-lg btn-block w3-margin-bottom">
                                OK
                            </button>
                        </div>
                    </section>
                </div>

            </div>
        </div>
    }

    <script>
        var slideIndex = 1;
        showDivs(slideIndex);
        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex - 1].style.display = "block";
            document.getElementById("dot1").classList.remove("dotactive");
            document.getElementById("dot2").classList.remove("dotactive");
            document.getElementById("dot3").classList.remove("dotactive");
            document.getElementById("dot4").classList.remove("dotactive");
            document.getElementById("dot5").classList.remove("dotactive");
            document.getElementById("dot" + slideIndex.toString()).classList.add("dotactive");
        }
        function showslide(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");

            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[n - 1].style.display = "block";
        }
        function dotactive(n) {
            document.getElementById("dot1").classList.remove("dotactive");
            document.getElementById("dot2").classList.remove("dotactive");
            document.getElementById("dot3").classList.remove("dotactive");
            document.getElementById("dot4").classList.remove("dotactive");
            document.getElementById("dot5").classList.remove("dotactive");
            document.getElementById("dot" + n.toString()).classList.add("dotactive");
        }
    </script>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>