﻿@using KiemDuyetPhamMem_ThucHanh_SoTietKiem.Models
@using Microsoft.AspNet.Identity
@{

    Entities db = new Entities();
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listNganHang = new List<string>();
    listNganHang.Add("Vietcombank");
    listNganHang.Add("Sacombank");
    listNganHang.Add("ACBank");
    foreach (var item in db.NganHangCuaUsers)
    {
        listNganHang.Add(item.TenNganHang);
    }
    var iduser = User.Identity.GetUserId();
    decimal? tongsotientrongso = 0;
    int CountSTK = 0;
    foreach (var item in db.SoTietKiems.Where(x => x.Id_User.Equals(iduser)))
    {
        if (item.TinhTrang == "Mở")
        {
            tongsotientrongso = tongsotientrongso + item.SoTienGoc;
            CountSTK++;
        }
    }
    string ngay = "";
    string thang = "";
    if (DateTime.Now.Day < 10)
    {
        ngay = "0" + DateTime.Now.Day.ToString();
    }
    else
    {
        ngay = DateTime.Now.Day.ToString();
    }
    if (DateTime.Now.Month < 10)
    {
        thang = "0" + DateTime.Now.Month.ToString();
    }
    else
    {
        thang = DateTime.Now.Month.ToString();
    }
    string NgayHomNay = (DateTime.Now.Year).ToString() + "-" + thang + "-" + ngay;

}

<!--form thêm sổ -->
<div id="id04" class="w3-modal" style="display:block">
    <div class=" w3-modal-content login-panel panel panel-default w3-light-gray" style="max-width:700px">
        <div class="w3-container">
            <section>
                <div class="w3-center">
                    <br>
                    @Html.ActionLink("x", "Index", "Home", new object { }, new { @class = "w3-button w3-xlarge w3-transparent w3-display-topright", @title = "Close Modal" })
                </div>
                @using (Html.BeginForm("Create", "SoTietKiems"))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Thêm sổ tiết kiệm mới </h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <input name="Id_User" value="@User.Identity.GetUserId()" class="w3-hide" />
                        <div class="form-group" id="part1">
                            <label class="control-label  col-sm-5">Ngân Hàng</label>
                            <div class="col-sm-7">
                                <select id="selectTenNganHang" onclick="selectNH()" name="TenNganHang" class="form-control col-sm-7" required>
                                    <option value="Vietcombank">Vietcombank</option>
                                    <option value="Sacombank">Sacombank</option>
                                    <option value="ACBank">ACBank</option>
                                    @foreach (var item in db.NganHangCuaUsers)
                                    {
                                        <option value="@item.TenNganHang">@item.TenNganHang</option>
                                    }
                                </select>
                                @Html.ActionLink("    thêm ngân hàng", "CreateNganHang", "SoTietKiems", new { @class = "col-lg-offset-5" })
                            </div>
                            
                        </div>
                         
                        <!--khi chọn option "Khác" div input này sẽ hiện ra và ngược lại không chọn sẽ mất đi-->
                        @*<div id="inputTenNganHangKhac" class="form-group" style="display:none">
                            <label class="control-label col-sm-5">Tên ngân hàng khác</label>
                            <div class="col-sm-7">
                                <input name="TenNganHangKhac" class="form-control col-sm-7" type="text" maxlength="15" placeholder="tối đa 15 chữ ghi liền không dấu" />
                            </div>
                        </div>*@

                        <div class="form-group" id="ngaymoso">
                            <label class="control-label col-sm-5">Ngày mở sổ</label>
                            <div class="col-sm-7">
                                <input name="NgayGui" onchange="checkingDateOpen()" id="inputDate" class="form-control col-sm-7" type="date" min='@(DateTime.Now.Year-10)-01-01' max='@NgayHomNay' required />
                            </div>
                        </div>

                        <div class="form-group" id="sotienbandau">
                            <label class="control-label col-sm-5">Số tiền ban đầu</label>
                            <div class="col-sm-7">
                                <input onkeyup="checkvalidNumber()"
                                       id="sotiengoc"
                                       name="SoTienGoc"
                                       class="form-control col-sm-7"
                                       type="number"
                                       min="1000000"
                                       max="200000000"
                                       placeholder="tối thiểu 1 triệu và tối đa 200 triệu"
                                       onkeydown="javascript: return event.keyCode == 69 || event.keyCode == 107 || event.keyCode == 109 ? false : true" required />
                            </div>
                        </div>

                        <div class="form-group" id="kyhan">
                            <label class="control-label col-sm-5">Kỳ Hạn</label>
                            <div class="col-sm-7">
                                <select id="selectKyHan" onchange="chonKyHan()" name="KyHan" class="form-control col-sm-7" required>
                                    <option value="không kỳ hạn">không kỳ hạn</option>
                                    <option value="1 tháng">1 tháng</option>
                                    <option value="3 tháng">3 tháng</option>
                                    <option value="6 tháng">6 tháng</option>
                                    <option value="12 tháng">12 tháng</option>
                                </select>
                            </div>
                        </div>
                        <div id="laisuat" class="form-group">
                            <label class="control-label col-sm-5">Lãi suất</label>
                            <div class="col-sm-7">
                                <input id="laisuatNumber"
                                       onkeyup="checkLaiSuat()"
                                       class="form-control col-sm-7"
                                       type="number"
                                       max="100"
                                       min="0"
                                       step=0.01
                                       placeholder="Tối đa 100%"
                                       onchange="
                                        if (this.value.toString().split('.')[1] != null) {
                                            document.getElementById('laisuattxt').value = this.value.toString().split('.')[0] + ',' + this.value.toString().split('.')[1]
                                        }
                                        else {
                                            document.getElementById('laisuattxt').value = this.value.toString()
                                        }"
                                       onkeydown="javascript: return event.keyCode == 69 || event.keyCode == 107 || event.keyCode == 109 ? false : true"
                                       required />
                            </div>
                        </div>
                        <div class="form-group w3-hide">
                            <label class="control-label col-sm-5">Lãi suất</label>
                            <div class="col-sm-7">
                                <input id="laisuattxt" name="LaiSuat" required />
                            </div>
                        </div>
                        <div id="laisuatkhongkyhan" class="form-group">
                            <label class="control-label col-sm-5">Lãi suất không kỳ hạn</label>
                            <div class="col-sm-7">
                                <input class="form-control col-sm-7"
                                       type="number"
                                       max="100"
                                       min="0"
                                       step=0.01
                                       placeholder="Tối đa 100%"
                                       onchange="
                                        if (this.value.toString().split('.')[1] != null) {
                                            document.getElementById('laisuatkhongkyhantxt').value = this.value.toString().split('.')[0] + ',' + this.value.toString().split('.')[1]
                                        }
                                        else {
                                            document.getElementById('laisuatkhongkyhantxt').value = this.value.toString()
                                        }"
                                       onkeydown="javascript: return event.keyCode == 69 || event.keyCode == 107 || event.keyCode == 109 ? false : true"
                                       required />
                            </div>
                        </div>
                        <div class="form-group w3-hide">
                            <label class="control-label col-sm-5">Lãi suất không kỳ hạn</label>
                            <div class="col-sm-7">
                                <input id="laisuatkhongkyhantxt" name="LaiSuatKhongKyHan" required />
                            </div>
                        </div>

                        <div class="form-group" id="tralai">
                            <label class="control-label col-sm-5">Trả lãi</label>
                            <div class="col-sm-7">
                                <select id="" name="TraLai" class="form-control col-sm-7" required>
                                    <option value="Cuối kỳ">Cuối kỳ</option>
                                    <option value="Đầu kỳ">Đầu kỳ</option>
                                    <option value="Định kỳ hàng tháng">Định kỳ hàng tháng</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group" id="khidenhan">
                            <label class="control-label col-sm-5">Khi đến hạn</label>
                            <div class="col-sm-7">
                                <select id="" name="KhiDenHan" class="form-control col-sm-7" required>
                                    <option value="Tái tục gốc và lãi">Tái tục gốc và lãi</option>
                                    <option value="Tái tục gốc">Tái tục gốc</option>
                                    <option value=" án sổ">Tất toán sổ</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group w3-hide">
                            <label class="control-label col-sm-5">Tình trạng</label>
                            <div class="col-sm-7">
                                <input name="TinhTrang" class="form-control col-sm-7" value="Mở" required />
                            </div>
                        </div>
                        <button class=" btn btn-success btn-lg btn-block w3-margin-bottom" type="submit">
                            TẠO
                        </button>
                    </div>
                }
            </section>
        </div>

    </div>
</div>
