﻿@using KiemDuyetPhamMem_ThucHanh_SoTietKiem.Models
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Tạo Ngân hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Entities db = new Entities();
}



<!--form tất toán sổ -->
<div id="id04" class="w3-modal" style="display:block">
    <div class="w3-modal-content w3-animate-bottom" style="max-width:500px">
        <div class="w3-container">
            <section>
                <div class="w3-center">
                    <br>
                    @*<span onclick="document.getElementById('id04').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>*@
                    @Html.ActionLink("x", "Index", "SoTietKiems", new object { }, new { @class = "w3-button w3-xlarge w3-transparent w3-display-topright", @title = "Close Modal" })
                </div>
                @using (Html.BeginForm("CreateNganHang", "SoTietKiems"))
                {
                    @Html.AntiForgeryToken()
                    //IdSoTietKiem,Id_User,TenNganHang,NgayGui,SoTienGoc,KyHan,LaiSuat,LaiSuatKhongKyHan,TraLai,KhiDenHan,TinhTrang
                    <input name="id_user" value="@User.Identity.GetUserId()" class="w3-hide" />
                    <section id="loginForm">
                        <div class="w3-center">
                            <br>
                            @Html.ActionLink("x", "Index", "Home", new object { }, new { @class = "w3-button w3-xlarge w3-transparent w3-display-topright", @title = "Close Modal" })
                            <div class="w3-margin-top">
                                <h1>
                                    <text>thêm ngân hàng mới</text><br />
                                </h1>
                            </div>
                        </div>
                        <h4></h4>
                        <hr />
                        <div class="form-group">
                            <label class="col-md-3"><b>Tên Ngân Hàng</b></label>
                            <div class="col-md-9">
                                <input class="w3-input w3-margin-bottom"
                                       placeholder="nhập tên ngân hàng"
                                       name="tenNganHangKhac"
                                       type="text"
                                        required />
                            </div>
                        </div>
                        <button class=" btn btn-success btn-lg btn-block w3-margin-bottom" type="submit">
                            Tạo
                        </button>
                    </section>
                }

            </section>
        </div>

    </div>
</div>