﻿@using KiemDuyetPhamMem_ThucHanh_SoTietKiem.Models
@using Microsoft.AspNet.Identity
@{
    Entities db = new Entities();
    int idsotietkiem = ViewBag.IdSoTietKiem;
    var ThongTinSo = db.SoTietKiems.Single(f => f.IdSoTietKiem.Equals(idsotietkiem));

    string ngay = ThongTinSo.NgayGui.ToString().Split(' ')[0].Split('/')[1];
    string thang = ThongTinSo.NgayGui.ToString().Split(' ')[0].Split('/')[0];
    string nam = ThongTinSo.NgayGui.ToString().Split(' ')[0].Split('/')[2];

    if (int.Parse(ngay) < 10)
    {
        ngay = "0" + ngay;
    }
    if (int.Parse(thang) < 10)
    {
        thang = "0" + thang;
    }
    string ngaymoso = nam + "-" + thang + "-" + ngay;
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--form sửa thông tin-->



<div id="id04" class="w3-modal" style="display:block">
    <div class="w3-modal-content login-panel panel panel-default w3-light-gray w3-animate-bottom" style="max-width:700px">
        <div class="w3-container">
            <section>
                <div class="w3-center">
                    <br>
                    @Html.ActionLink("x", "Index", "SoTietKiems", htmlAttributes: new { @class = "w3-button w3-xlarge w3-transparent w3-display-topright", @title = "Close Model" })
                    @*<a href="" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</a>*@
                </div>
                @using (Html.BeginForm("Edit", "SoTietKiems"))
                {
                    @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @{
                        string codeNganHang = "";
                        if (ThongTinSo.TenNganHang == "Vietcombank")
                        {
                            codeNganHang = "VCB";
                        }
                        else if (ThongTinSo.TenNganHang == "Sacombank")
                        {
                            codeNganHang = "SCB";
                        }
                        else if (ThongTinSo.TenNganHang == "ACBank")
                        {
                            codeNganHang = "ACB";
                        }
                        else
                        {
                            codeNganHang = ThongTinSo.TenNganHang;
                        }
                    }
                    <h4>Chi tiết sổ <text>@codeNganHang</text>_<text>@ThongTinSo.IdSoTietKiem</text></h4>
                    <hr />
                    <input name="IdSoTietKiem" value="@idsotietkiem" class="w3-hide" />
                    @*@Html.HiddenFor(model => model.IdSoTietKiem)*@
                    <div class="form-group w3-hide">
                        <label class="control-label col-sm-5">Id_User</label>
                        <div class="col-sm-7">
                            <input name="Id_User" value="@ThongTinSo.Id_User" class="form-control col-sm-7" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-5">Ngân Hàng</label>
                        <div class="col-sm-7">
                            @{
                                int sttNganHang = 0;
                                if (ThongTinSo.TenNganHang == "Vietcombank") { sttNganHang = 0; }
                                else if (ThongTinSo.TenNganHang == "Sacombank") { sttNganHang = 1; }
                                else if (ThongTinSo.TenNganHang == "ACBank") { sttNganHang = 2; }
                                else { sttNganHang = 3; }
                            }
                            <p class="w3-hide" id="sttNganHang">@sttNganHang</p>
                            @*<select id="TenNganHangComBoBox" name="TenNganHang" selectedIndex="@sttNganHang" class="form-control col-sm-7" disabled >
                                <option value="Vietcombank">Vietcombank</option>
                                <option value="Sacombank">Sacombank</option>
                                <option value="ACBank">ACBank</option>
                            </select>*@
                            <input name="TenNganHang" value="@ThongTinSo.TenNganHang" class="form-control col-sm-7" disabled />
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="control-label col-sm-5">Ngày mở sổ</label>
                        <div class="col-sm-7">
                            <input name="NgayGui" type="date" value="@(ngaymoso)" class="form-control col-sm-7" disabled />
                        </div>
                    </div>
                    <div class="form-group w3-hide">
                        <label class="control-label col-sm-5">Số tiền ban đầu</label>
                        <div class="col-sm-7">
                            <input name="SoTienGoc" value="@ThongTinSo.SoTienGoc" class="form-control col-sm-7" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-5">Số tiền ban đầu</label>
                        <div class="col-sm-7">
                            <input value="@ThongTinSo.SoTienGoc" class="form-control col-sm-7" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-5">Kỳ Hạn</label>
                        <div class="col-sm-7">
                            @*@{
                                int sttkyhan = 0;
                                if (ThongTinSo.KyHan == "không kỳ hạn") { sttkyhan = 0; }
                                if (ThongTinSo.KyHan == "1 tháng") { sttkyhan = 1; }
                                if (ThongTinSo.KyHan == "3 tháng") { sttkyhan = 2; }
                                if (ThongTinSo.KyHan == "6 tháng") { sttkyhan = 3; }
                                if (ThongTinSo.KyHan == "12 tháng") { sttkyhan = 4; }
                            }
                            <p class="w3-hide" id="sttkyhan">@sttkyhan</p>
                            <select id="KyHanComboBox" name="KyHan" class="form-control col-sm-7" disabled>
                                <option value="không kỳ hạn">không kỳ hạn</option>
                                <option value="1 tháng">1 tháng</option>
                                <option value="3 tháng">3 tháng</option>
                                <option value="6 tháng">6 tháng</option>
                                <option value="12 tháng">12 tháng</option>
                            </select>*@
                            <input name="KyHan" value="@ThongTinSo.KyHan" class="form-control col-sm-7" disabled/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-5">Lãi suất</label>
                        <div class="col-sm-7">
                            <input name="LaiSuat" value="@ThongTinSo.LaiSuat" class="form-control col-sm-7" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-5">Lãi suất không kỳ hạn</label>
                        <div class="col-sm-7">
                            <input name="LaiSuatKhongKyHan" value="@ThongTinSo.LaiSuatKhongKyHan" class="form-control col-sm-7" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-5">Trả lãi</label>
                        <div class="col-sm-7">
                            @*@{
                                int sttTralai = 0;
                                if (ThongTinSo.TraLai == "Cuối kỳ") { sttTralai = 0; }
                                if (ThongTinSo.TraLai == "Đầu kỳ") { sttTralai = 1; }
                                if (ThongTinSo.TraLai == "Định kỳ hàng tháng") { sttTralai = 2; }
                            }
                            <p class="w3-hide" id="sttTralai">@sttTralai</p>
                            <select id="TraLaiComboBox" name="TraLai" class="form-control col-sm-7" disabled>
                                <option value="Cuối kỳ">Cuối kỳ</option>
                                <option value="Đầu kỳ">Đầu kỳ</option>
                                <option value="Định kỳ hàng tháng">Định kỳ hàng tháng</option>
                            </select>*@
                            <input name="TraLai" value="@ThongTinSo.TraLai" class="form-control col-sm-7" disabled/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-5">Khi đến hạn</label>
                        <div class="col-sm-7">
                            @*@{
                                int sttKhiDenHan = 0;
                                if (ThongTinSo.KhiDenHan == "Tái tục gốc và lãi") { sttKhiDenHan = 0; }
                                if (ThongTinSo.KhiDenHan == "Tái tục gốc") { sttKhiDenHan = 1; }
                                if (ThongTinSo.KhiDenHan == "Tất toán sổ") { sttKhiDenHan = 2; }
                            }
                            <p class="w3-hide" id="sttKhiDenHan">@sttKhiDenHan</p>
                            <select id="KhiDenHanComboBox" name="KhiDenHan" class="form-control col-sm-7" disabled>
                                <option value="Tái tục gốc và lãi">Tái tục gốc và lãi</option>
                                <option value="Tái tục gốc">Tái tục gốc</option>
                                <option value="Tất toán sổ">Tất toán sổ</option>
                            </select>*@
                            <input name="KhiDenHan" value="@ThongTinSo.KhiDenHan" class="form-control col-sm-7" disabled/>
                        </div>
                    </div>
                    <div class="form-group w3-hide">
                        <label class="control-label col-sm-5">Tình trạng</label>
                        <div class="col-sm-7">
                            <input name="TinhTrang" value="@ThongTinSo.TinhTrang" class="form-control col-sm-7" disabled/>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <input type="button" Onclick="window.location.href ='@Url.Action("Edit", new { id = Model.IdSoTietKiem })'" value="Sửa" class=" btn btn-success btn-lg btn-block w3-margin-bottom">
                    </div>
                    <div class="col-lg-6">
                        <input type="button" onclick="window.location.href ='@Url.Action("Index")'" value="Trở về" class="btn btn-default btn-lg btn-block w3-margin-bottom">
                    </div>
                </div>
                }
            </section>
        </div>

    </div>
</div>
<script>
    document.getElementById("TenNganHangComBoBox").selectedIndex = document.getElementById("sttNganHang").innerHTML;
    document.getElementById("KyHanComboBox").selectedIndex = document.getElementById("sttkyhan").innerHTML;
    document.getElementById("TraLaiComboBox").selectedIndex = document.getElementById("sttTralai").innerHTML;
    document.getElementById("KhiDenHanComboBox").selectedIndex = document.getElementById("sttKhiDenHan").innerHTML;
</script>


