﻿@using KiemDuyetPhamMem_ThucHanh_SoTietKiem.Models
@using Microsoft.AspNet.Identity
@{
    Entities db = new Entities();
    int idsotietkiem = ViewBag.IdSoTietKiem;
    var ThongTinSo = db.SoTietKiems.Single(f => f.IdSoTietKiem.Equals(idsotietkiem));
    Layout = "~/Views/Shared/_Layout.cshtml";
    string ngay = ThongTinSo.NgayGui.ToString().Split(' ')[0].Split('/')[1];
    string thang = ThongTinSo.NgayGui.ToString().Split(' ')[0].Split('/')[0];
    string nam = ThongTinSo.NgayGui.ToString().Split(' ')[0].Split('/')[2];

    if (ngay.Length < 2)
    {
        ngay = "0" + ngay;
    }
    if (thang.Length < 2)
    {
        thang = "0" + thang;
    }
    string ngaymoso = nam + "-" + thang + "-" + ngay;
    ViewBag.Title = "Edit";
    string laisuatso = "";

    string laisuatkhongkyhanso = "";
    if(ThongTinSo.LaiSuat == (int)ThongTinSo.LaiSuat)
    {
        laisuatso = ((int)ThongTinSo.LaiSuat).ToString();
    }
    else
    {
        laisuatso = ThongTinSo.LaiSuat.ToString().Split(',')[0] + "." + ThongTinSo.LaiSuat.ToString().Split(',')[1];
    }
    if (ThongTinSo.LaiSuatKhongKyHan == (int)ThongTinSo.LaiSuatKhongKyHan)
    {
        laisuatkhongkyhanso = ((int)ThongTinSo.LaiSuatKhongKyHan).ToString();
    }
    else
    {
        laisuatkhongkyhanso = ThongTinSo.LaiSuatKhongKyHan.ToString().Split(',')[0] + "." + ThongTinSo.LaiSuatKhongKyHan.ToString().Split(',')[1];
    }

    string ngayy = "";
    string thangg = "";
    if (DateTime.Now.Day < 10)
    {
        ngayy = "0" + DateTime.Now.Day.ToString();
    }
    else
    {
        ngayy = DateTime.Now.Day.ToString();
    }
    if (DateTime.Now.Month < 10)
    {
        thangg = "0" + DateTime.Now.Month.ToString();
    }
    else
    {
        thangg = DateTime.Now.Month.ToString();
    }
    string NgayHomNay = (DateTime.Now.Year).ToString() + "-" + thangg + "-" + ngayy;

}



<!--form sửa thông tin-->



<div id="id04" class="w3-modal" style="display:block">
    <div class="w3-modal-content login-panel panel panel-default w3-light-gray " style="max-width:700px">
        <div class="w3-container">
            <section>
                <div class="w3-center">
                    <br>
                    @Html.ActionLink("x", "Index", "SoTietKiems", htmlAttributes: new { @class = "w3-button w3-xlarge w3-transparent w3-display-topright", @title = "Close Model" })
                    @*<a href="" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</a>*@
                </div>
                @using (Html.BeginForm("Edit", "SoTietKiems"))
                {
                    @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <h4>Sửa sổ <text>@ThongTinSo.TenNganHang</text>_@ThongTinSo.IdSoTietKiem </h4>
                    <hr />
                    <input name="IdSoTietKiem" value="@idsotietkiem" class="w3-hide" />
                    @*@Html.HiddenFor(model => model.IdSoTietKiem)*@
                    <div class="form-group w3-hide">
                        <label class="control-label col-sm-5">Id_User</label>
                        <div class="col-sm-7">
                            <input name="Id_User" value="@ThongTinSo.Id_User" class="form-control col-sm-7" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-5">Ngân Hàng</label>
                        <div class="col-sm-7">
                            <select id="TenNganHangComBoBox" name="TenNganHang" onchange="checkValue(value)" class="form-control col-sm-7">
                                <option value="@ThongTinSo.TenNganHang">@ThongTinSo.TenNganHang</option>
                                @foreach (var item in db.NganHangCuaUsers)
                                {
                                    if (item.TenNganHang != ThongTinSo.TenNganHang)
                                    {
                                        <option value="@item.TenNganHang">@item.TenNganHang</option>
                                    }

                                }


                            </select>
                            @Html.ActionLink("    thêm ngân hàng", "CreateNganHang", "SoTietKiems", new { @class = "col-lg-offset-5" })
                            @*<input name="TenNganHang" value="@ThongTinSo.TenNganHang" class="form-control col-sm-7" />*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-5">Ngày mở sổ</label>
                        <div class="col-sm-7">
                            <input name="NgayGui" type="date" value="@ngaymoso"  min='@(DateTime.Now.Year-10)-01-01' max='@NgayHomNay' class="form-control col-sm-7" required />
                        </div>
                    </div>
                    <div class="form-group w3-hide">
                        <label class="control-label col-sm-5">Số tiền ban đầu</label>
                        <div class="col-sm-7">
                            <input name="SoTienGoc" 
                                   value="@ThongTinSo.SoTienGoc"
                                   class="form-control col-sm-7" 
                                   onkeydown="javascript: return event.keyCode == 69 || event.keyCode == 107 || event.keyCode == 109 ? false : true" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-5">Số tiền ban đầu</label>
                        <div class="col-sm-7">
                            <input value="@ThongTinSo.SoTienGoc" class="form-control col-sm-7" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-5">Kỳ Hạn</label>
                        <div class="col-sm-7">
                            @{
                                int ststtkyhan = 0;
                                if (ThongTinSo.KyHan == "không kỳ hạn") { ststtkyhan = 0; }
                                if (ThongTinSo.KyHan == "1 tháng") { ststtkyhan = 1; }
                                if (ThongTinSo.KyHan == "3 tháng") { ststtkyhan = 2; }
                                if (ThongTinSo.KyHan == "6 tháng") { ststtkyhan = 3; }
                                if (ThongTinSo.KyHan == "12 tháng") { ststtkyhan = 4; }
                            }
                            <p class="w3-hide" id="ststtkyhan">@ststtkyhan</p>
                            <select id="KyHanComboBox" name="KyHan" class="form-control col-sm-7">
                                <option value="@ThongTinSo.KyHan">@ThongTinSo.KyHan</option>
                                <option value="không kỳ hạn">không kỳ hạn</option>
                                <option value="1 tháng">1 tháng</option>
                                <option value="3 tháng">3 tháng</option>
                                <option value="6 tháng">6 tháng</option>
                                <option value="12 tháng">12 tháng</option>
                            </select>
                            @*<input name="KyHan" value="@ThongTinSo.KyHan" class="form-control col-sm-7" />*@
                        </div>
                    </div>





                        <div id="laisuat" class="form-group">
                            <label class="control-label col-sm-5">Lãi suất</label>
                            <div class="col-sm-7">
                                <input 
                                       value="@laisuatso"
                                       id="laisuatNumber" 
                                       onkeyup="checkLaiSuat()" 
                                       class="form-control col-sm-7" 
                                       type="number" 
                                       max="100" 
                                       min="0"
                                       step=0.01
                                       placeholder="Tối đa 100%" 
                                       onchange="
                                        if (this.value.toString().split('.')[1] != null) {
                                            document.getElementById('editlaisuattxt').value = this.value.toString().split('.')[0] + ',' + this.value.toString().split('.')[1]
                                        }
                                        else {
                                            document.getElementById('editlaisuattxt').value = this.value.toString()
                                        }" 
                                        onkeydown="javascript: return event.keyCode == 69 || event.keyCode == 107 || event.keyCode == 109 ? false : true"
                                        required/>
                            </div>
                        </div>
                        <div  class="form-group w3-hide">
                            <label class="control-label col-sm-5">Lãi suất</label>
                            <div class="col-sm-7">
                                <input id="editlaisuattxt" name="LaiSuat" value="@(ThongTinSo.LaiSuat.ToString())" required />
                            </div>
                        </div>
                        <div id="laisuatkhongkyhan" class="form-group">
                            <label class="control-label col-sm-5">Lãi suất không kỳ hạn</label>
                            <div class="col-sm-7">
                                <input 
                                       value="@laisuatkhongkyhanso"
                                       id="laisuatkhongkyhanNumber" 
                                       class="form-control col-sm-7" 
                                       type="number" 
                                       max="100" 
                                       min="0"
                                       step=0.01
                                       placeholder="Tối đa 100%" 
                                       onchange="
                                        if (this.value.toString().split('.')[1] != null) {
                                            document.getElementById('editlaisuatkhongkyhantxt').value = this.value.toString().split('.')[0] + ',' + this.value.toString().split('.')[1]
                                        }
                                        else {
                                            document.getElementById('editlaisuatkhongkyhantxt').value = this.value.toString()
                                        }" 
                                        onkeydown="javascript: return event.keyCode == 69 || event.keyCode == 107 || event.keyCode == 109 ? false : true" 
                                        required/>
                            </div>
                        </div>
                        <div  class="form-group w3-hide">
                            <label class="control-label col-sm-5">Lãi suất không kỳ hạn</label>
                            <div class="col-sm-7">
                                <input id="editlaisuatkhongkyhantxt"  value="@(ThongTinSo.LaiSuatKhongKyHan.ToString())" name="LaiSuatKhongKyHan" required />
                            </div>
                        </div>






                    <div class="form-group">
                        <label class="control-label col-sm-5">Trả lãi</label>
                        <div class="col-sm-7">
                            @{
                                int sttTralai = 0;
                                if (ThongTinSo.TraLai == "Cuối kỳ") { sttTralai = 0; }
                                if (ThongTinSo.TraLai == "Đầu kỳ") { sttTralai = 1; }
                                if (ThongTinSo.TraLai == "Định kỳ hàng tháng") { sttTralai = 2; }
                            }
                            <p class="w3-hide" id="sttTralai">@sttTralai</p>
                            <select id="TraLaiComboBox" name="TraLai" class="form-control col-sm-7">
                                <option value="@ThongTinSo.TraLai">@ThongTinSo.TraLai</option>
                                @if (ThongTinSo.TraLai != "Cuối kỳ")
                                {
                                    <option value="Cuối kỳ">Cuối kỳ</option>
                                }
                                @if (ThongTinSo.TraLai != "Đầu kỳ")
                                {
                                    <option value="Đầu kỳ">Đầu kỳ</option>
                                }
                                @if (ThongTinSo.TraLai != "Định kỳ hàng tháng")
                                {
                                    <option value="Định kỳ hàng tháng">Định kỳ hàng tháng</option>
                                }
                            </select>
                            @*<input name="TraLai" value="@ThongTinSo.TraLai" class="form-control col-sm-7" />*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-5">Khi đến hạn</label>
                        <div class="col-sm-7">
                            @{
                                int sttKhiDenHan = 0;
                                if (ThongTinSo.KhiDenHan == "Tái tục gốc và lãi") { sttKhiDenHan = 0; }
                                if (ThongTinSo.KhiDenHan == "Tái tục gốc") { sttKhiDenHan = 1; }
                                if (ThongTinSo.KhiDenHan == "Tất toán sổ") { sttKhiDenHan = 2; }
                            }
                            <p class="w3-hide" id="sttKhiDenHan">@sttKhiDenHan</p>
                            <select id="KhiDenHanComboBox" name="KhiDenHan" class="form-control col-sm-7">
                                <option value="@ThongTinSo.KhiDenHan">@ThongTinSo.KhiDenHan</option>
                                @if (@ThongTinSo.KhiDenHan != "Tái tục gốc và lãi")
                                {
                                    <option value="Tái tục gốc và lãi">Tái tục gốc và lãi</option>
                                }
                                @if (@ThongTinSo.KhiDenHan != "Tái tục gốc")
                                {
                                    <option value="Tái tục gốc">Tái tục gốc</option>
                                }
                                @if (@ThongTinSo.KhiDenHan != "Tất toán sổ")
                                {
                                    <option value="Tất toán sổ">Tất toán sổ</option>
                                }
  
                            </select>
                            @*<input name="KhiDenHan" value="@ThongTinSo.KhiDenHan" class="form-control col-sm-7" />*@
                        </div>
                    </div>
                    <div class="form-group w3-hide">
                        <label class="control-label col-sm-5">Tình trạng</label>
                        <div class="col-sm-7">
                            <input name="TinhTrang" value="@ThongTinSo.TinhTrang" class="form-control col-sm-7" />
                        </div>
                    </div>
                    <button class=" btn btn-success btn-lg btn-block w3-margin-bottom" type="submit">
                        Lưu
                    </button>
                </div>
                }
            </section>
        </div>

    </div>
</div>
<script>
    document.getElementById("TenNganHangComBoBox").selectedIndex = document.getElementById("sttNganHang").innerHTML;
    document.getElementById("KyHanComboBox").selectedIndex = document.getElementById("sttkyhan").innerHTML;
    document.getElementById("TraLaiComboBox").selectedIndex = document.getElementById("sttTralai").innerHTML;
    document.getElementById("KhiDenHanComboBox").selectedIndex = document.getElementById("sttKhiDenHan").innerHTML;
    // hàm kiểm tra value của comboBox ngân hàng. khi thay đổi giá trị sẽ hiện ẩn tùy theo
    function checkValue(value) {
        var formTextBox = document.querySelector("#formTextBox");
        if (value == "khac") {
            formTextBox.classList.remove("w3-hide");
        }
        else {
            formTextBox.classList.add("w3-hide");
        }
    }
</script>