﻿@using KiemDuyetPhamMem_ThucHanh_SoTietKiem.Models
@using Microsoft.AspNet.Identity
@{

    Entities db = new Entities();
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listNganHang = new List<string>();
    listNganHang.Add("Vietcombank");
    listNganHang.Add("Sacombank");
    listNganHang.Add("ACBank");
    foreach (var item in db.NganHangCuaUsers)
    {
        listNganHang.Add(item.TenNganHang);
    }
    var iduser = User.Identity.GetUserId();
    decimal? tongsotientrongso = 0;
    int CountSTK = 0;
    foreach (var item in db.SoTietKiems.Where(x => x.Id_User.Equals(iduser)))
    {
        if (item.TinhTrang == "Mở")
        {
            tongsotientrongso = tongsotientrongso + item.SoTienGoc;
            CountSTK++;
        }
    }
    string ngay = "";
    string thang = "";
    if (DateTime.Now.Day < 10)
    {
        ngay = "0" + DateTime.Now.Day.ToString();
    }
    else
    {
        ngay = DateTime.Now.Day.ToString();
    }
    if (DateTime.Now.Month < 10)
    {
        thang = "0" + DateTime.Now.Month.ToString();
    }
    else
    {
        thang = DateTime.Now.Month.ToString();
    }
    string NgayHomNay = (DateTime.Now.Year).ToString() + "-" + thang + "-" + ngay;

}




<div class="w3-center w3-margin-bottom">
    <h2>SỔ TIẾT KIỆM</h2>
    <h3>Tổng tiền: @string.Format("{0:#,0}", tongsotientrongso) VNĐ (@CountSTK sổ)</h3>

    @*<a class="btn btn-success w3-text-white" onclick="document.getElementById('id04').style.display='block'">Thêm sổ</a>*@
    @Html.ActionLink("Thêm sổ", "Them1", new { }, new { @style = "color:white", @class = "btn btn-success w3-text-white" })
</div>
<!--danh sách sổ trong list ngân hàng mặc định [Vietcombank,Sacombank,ACBank]-->



@foreach (var itemNganHang in listNganHang)
{
    bool checkempty = false;
    //kiểm tra người dùng đã sử dụng 3 ngân hàng mặc định hay chưa
    foreach (var itemCheckEmpty in db.SoTietKiems.Where(x => x.Id_User.Equals(iduser)))
    {
        if (itemCheckEmpty.TenNganHang == itemNganHang && itemCheckEmpty.TinhTrang == "Mở")
        {
            checkempty = true;
        }
    }
    //nếu đã sử dụng sẽ xuất ra table ngân hàng đó
    if (checkempty == true)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                @itemNganHang
            </div>
            <div class="panel-body">
                <table style="width:103.8%" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Mã sổ</th>
                            <th>Tổng số tiền gốc</th>
                            <th>Kỳ hạn gửi</th>
                            <th>Lãi suất năm</th>
                            <th>Ngày mở</th>
                            <th>Chỉnh sửa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in db.SoTietKiems)
                        {
                            if (item.TenNganHang == itemNganHang && item.Id_User == iduser && item.TinhTrang == "Mở")
                            {
                                <tr>
                                    <td style="width:100px" @*onclick="window.location.href ='@Url.Action("Details", new { id = item.IdSoTietKiem })'"*@><text>@item.TenNganHang</text>_@item.IdSoTietKiem</td>
                                    @*@{

                                            if (item.TenNganHang == "Vietcombank")
                                            {
                                                <td style="width:100px" >VCB_@item.IdSoTietKiem</td>
                                            }
                                            else if (item.TenNganHang == "Sacombank")
                                            {
                                                <td style="width:100px" >SCB_@item.IdSoTietKiem</td>
                                            }
                                            else if (item.TenNganHang == "ACBank")
                                            {
                                                <td style="width:100px" >ACB_@item.IdSoTietKiem</td>
                                            }
                                        }*@
                                    <td style="text-align:right;width:200px">
                                        @(string.Format("{0:#,0}" + " VNĐ", item.SoTienGoc))
                                    </td>



                                    <td style="text-align:right;width:150px">
                                        @item.KyHan
                                    </td>
                                    @if (item.KyHan == "không kỳ hạn")
                                    {
                                        <td style="text-align:right;width:170px">@item.LaiSuatKhongKyHan%</td>
                                    }
                                    else
                                    {
                                        <td style="text-align:right;width:170px">@item.LaiSuat%</td>
                                    }

                                    <td style="text-align:right;width:150px">
                                        @(item.NgayGui.ToString().Split(' ')[0].Split('/')[1] + "/" + item.NgayGui.ToString().Split(' ')[0].Split('/')[0] + "/" + item.NgayGui.ToString().Split(' ')[0].Split('/')[2])
                                    </td>

                                    <td style="width:400px">
                                        <div>
                                            @Html.ActionLink("Sửa", "Edit", new { id = item.IdSoTietKiem }, new { @class = "w3-hover-pink btn col-md-3", @style = "background-color:#66ff66;color:white;min-width:100px" })
                                        </div>
                                        @{

                                            var demNgay = (DateTime.Now - (DateTime)item.NgayGui).TotalDays;

                                            //điều kiện Gửi thêm
                                            if (item.KyHan == "không kỳ hạn")
                                            {
                                                <div class="btn col-md-3 w3-hover-pink" style="background-color:#33cc33;min-width:100px">@Html.ActionLink("Gửi thêm", "GuiThem", new { id = item.IdSoTietKiem }, new { @style = "color:white" })</div>

                                            }
                                            else if (item.KyHan == "1 tháng" && demNgay >= 30)
                                            {
                                                <div class="btn col-md-3 w3-hover-pink" style="background-color:#33cc33;min-width:100px">
                                                    @Html.ActionLink("Gửi thêm", "GuiThem", new { id = item.IdSoTietKiem }, new { @style = "color:white" })
                                                </div>
                                            }
                                            else if (item.KyHan == "3 tháng" && demNgay >= 90)
                                            {
                                                <div class="btn col-md-3 w3-hover-pink" style="background-color:#33cc33;min-width:100px">
                                                    @Html.ActionLink("Gửi thêm", "GuiThem", new { id = item.IdSoTietKiem }, new { @style = "color:white" })
                                                </div>
                                            }
                                            else if (item.KyHan == "6 tháng" && demNgay >= 180)
                                            {
                                                <div class="btn col-md-3 w3-hover-pink" style="background-color:#33cc33;min-width:100px">
                                                    @Html.ActionLink("Gửi thêm", "GuiThem", new { id = item.IdSoTietKiem }, new { @style = "color:white" })
                                                </div>
                                            }
                                            else if (item.KyHan == "12 tháng" && demNgay >= 360)
                                            {
                                                <div class="btn col-md-3 w3-hover-pink" style="background-color:#33cc33;min-width:100px">
                                                    @Html.ActionLink("Gửi thêm", "GuiThem", new { id = item.IdSoTietKiem }, new { @style = "color:white" })
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="btn col-md-3" style="background-color:#808080;min-width:100px">
                                                    <a title="chưa đến hạn gửi thêm" class="w3-disabled" style="color:white;">Gửi thêm</a>
                                                </div>
                                            }

                                            //điều kiện rút một phần
                                            if (demNgay > 15 && item.KyHan == "không kỳ hạn" && item.SoTienGoc > 100000)
                                            {
                                                <div class="btn col-md-3 w3-hover-pink" style="background-color:#009933;color:white;min-width:100px">
                                                    @Html.ActionLink("Rút 1 phần", "RutMotPhan", new { id = item.IdSoTietKiem }, new { @style = "color:white; text-decoration:none;" })
                                                </div>
                                            }
                                            else if ((item.KyHan == "1 tháng" || item.KyHan == "3 tháng" || item.KyHan == "6 tháng" || item.KyHan == "12 tháng") && item.SoTienGoc > 100000)
                                            {
                                                <div class="btn col-md-3 w3-hover-pink" style="background-color:#009933;color:white;min-width:100px">
                                                    @Html.ActionLink("Rút 1 phần", "RutMotPhan", new { id = item.IdSoTietKiem }, new { @style = "color:white; text-decoration:none;" })
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="btn col-md-3" style="background-color:#808080;min-width:100px">
                                                    <a title="Chỉ được rút khi sổ tồn tại hơn 15 ngày và số dư hơn 100.000đ" class="w3-disabled" style="color:white; text-decoration:none;">Rút 1 phần</a>
                                                </div>
                                            }
                                            <div class="btn col-md-3 w3-hover-pink" style="background-color:#003300;min-width:100px">
                                                @Html.ActionLink("Tất toán", "TatToanSo", new { id = item.IdSoTietKiem }, new { @style = "color:white; text-decoration:none;" })
                                            </div>
                                        }
                                    </td>
                                </tr>

                            }
                        }

                    </tbody>
                </table>

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    }

}

<!--mỗi item trong [db.NganHangCuaUser] sẽ tạo ra 1 table danh sách sổ , dùng để chia sổ theo ngân hàng-->
@foreach (var item in db.NganHangCuaUsers)
{

}
<!--danh sách sổ đã tất toán-->
@{
    int demdulieu = 0;
    foreach (var item in db.SoTietKiems)
    {
        if (item.TinhTrang == "Đã tất toán" && item.Id_User == iduser)
        {
            demdulieu++;
        }
    }
    if (demdulieu > 0)
    {
        <div class="panel panel-default ">
            <div class="panel-heading">
                Đã tất toán
            </div>
            <div class="panel-body">

                <table style="width:103.8%" class="table table-striped table-bordered table-hover " id="">
                    <thead>
                        <tr>
                            <th>Mã sổ</th>
                            <th>Tổng số tiền gốc</th>
                            <th>Kỳ hạn gửi</th>
                            <th>Lãi suất năm</th>
                            <th>Ngày mở</th>
                            <th>Tiền Lãi</th>
                            <th>Xem</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in db.SoTietKiems)
                        {
                            if (item.TinhTrang == "Đã tất toán" && item.Id_User == iduser)
                            {
                                <tr>
                                    <td style="width:100px"><text>@item.TenNganHang</text>_@item.IdSoTietKiem</td>
                                    @*@{
                                            if (item.TenNganHang == "Vietcombank")
                                            {
                                                <td style="width:100px">VCB_@item.IdSoTietKiem</td>
                                            }
                                            else if (item.TenNganHang == "Sacombank")
                                            {
                                                <td style="width:100px">SCB_@item.IdSoTietKiem</td>
                                            }
                                            else if (item.TenNganHang == "ACBank")
                                            {
                                                <td style="width:100px">ACB_@item.IdSoTietKiem</td>
                                            }
                                        }*@
                                    <td style="text-align:right;width:200px">
                                        @(string.Format("{0:#,0}" + " VNĐ", item.SoTienGoc))
                                    </td>


                                    <td style="text-align:right;width:150px">
                                        @item.KyHan
                                    </td>
                                    @if (item.KyHan == "không kỳ hạn")
                                    {
                                        <td style="text-align:right;width:170px">@item.LaiSuatKhongKyHan%</td>
                                    }
                                    else
                                    {
                                        <td style="text-align:right;width:170px">@item.LaiSuat%</td>
                                    }
                                    <td style="text-align:right;width:150px">
                                        @item.NgayGui.ToString().Split(' ')[0]
                                    </td>
                                    <td style="text-align:right;width:200px">
                                        @(string.Format("{0:#,0}" + " VNĐ", item.TienLai))
                                    </td>
                                    <td style="width:200px">
                                        <div>
                                            @Html.ActionLink("Xem", "Details", new { id = item.IdSoTietKiem }, new { @class = "btn w3-block w3-hover-pink", @style = "background-color:#66ff66;color:white;min-width:100px" })
                                        </div>
                                    </td>


                                </tr>
                                demdulieu++;
                            }
                        }

                    </tbody>
                </table>

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    }


}
<!--danh sách sổ chưa hoàn thiện-->
@{
    int demdulieuu = 0;
    foreach (var item in db.SoTietKiems)
    {
        if (item.TinhTrang == "Chưa hoàn thiện" && item.Id_User == iduser)
        {
            demdulieuu++;
        }
    }
    if (demdulieuu > 0)
    {
        <div class="panel panel-default ">
            <div class="panel-heading">
                Chưa hoàn thiện thông tin!
            </div>
            <div class="panel-body">

                <table style="width:103.8%" class="table table-striped table-bordered table-hover " id="">
                    <thead>
                        <tr>
                            <th>Mã sổ</th>
                            <th>Tổng số tiền gốc</th>
                            <th>Kỳ hạn gửi</th>
                            <th>Lãi suất năm</th>
                            <th>Ngày mở</th>
                            <th>Tiền Lãi</th>
                            <th>Xem</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in db.SoTietKiems)
                        {
                            if (item.TinhTrang == "Chưa hoàn thiện" && item.Id_User == iduser)
                            {
                                <tr>
                                    <td style="width:100px"><text>@item.TenNganHang</text>_@item.IdSoTietKiem</td>
                                    @*@{
                                            if (item.TenNganHang == "Vietcombank")
                                            {
                                                <td style="width:100px">VCB_@item.IdSoTietKiem</td>
                                            }
                                            else if (item.TenNganHang == "Sacombank")
                                            {
                                                <td style="width:100px">SCB_@item.IdSoTietKiem</td>
                                            }
                                            else if (item.TenNganHang == "ACBank")
                                            {
                                                <td style="width:100px">ACB_@item.IdSoTietKiem</td>
                                            }
                                        }*@
                                    <td style="text-align:right;width:200px">
                                        @(string.Format("{0:#,0}" + " VNĐ", item.SoTienGoc))
                                    </td>


                                    <td style="text-align:right;width:150px">
                                        @item.KyHan
                                    </td>
                                    @if (item.KyHan == "không kỳ hạn")
                                    {
                                        <td style="text-align:right;width:170px">@item.LaiSuatKhongKyHan%</td>
                                    }
                                    else
                                    {
                                        <td style="text-align:right;width:170px">@item.LaiSuat%</td>
                                    }
                                    <td style="text-align:right;width:150px">
                                        @item.NgayGui.ToString().Split(' ')[0]
                                    </td>
                                    <td style="text-align:right;width:200px">
                                        @(string.Format("{0:#,0}" + " VNĐ", item.TienLai))
                                    </td>
                                    <td style="width:200px">
                                        <div class="col-md-6">
                                            @if (item.SoTienGoc == 0 || item.KyHan == "" || item.LaiSuat == 0)
                                            {
                                                <div>
                                                    @Html.ActionLink("hoàn thiện", "Them2", new { id = item.IdSoTietKiem }, new { @class = "btn w3-block w3-hover-pink", @style = "background-color:black;color:white;min-width:100px" })
                                                </div>
                                            }
                                            else if (item.LaiSuatKhongKyHan == 0 || item.TraLai == "" || item.KhiDenHan == "")
                                            {
                                                <div>
                                                    @Html.ActionLink("hoàn thiện", "Them3", new { id = item.IdSoTietKiem }, new { @class = "btn w3-block w3-hover-pink", @style = "background-color:black;color:white;min-width:100px" })
                                                </div>
                                            }
                                        </div>
                                        <div class="col-md-6">
                                            @Html.ActionLink("xóa", "Delete", new { id = item.IdSoTietKiem }, new { @class = "btn w3-block w3-hover-pink", @style = "background-color:red;color:white;min-width:100px" })

                                        </div>
                                    </td>


                                </tr>
                                demdulieu++;
                            }
                        }

                    </tbody>
                </table>

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    }


}



<script>
    //function selectNH() {
    //    if (document.getElementById("selectTenNganHang").value == "khac") {
    //        document.getElementById("inputTenNganHangKhac").style.display = "block";
    //        document.getElementById("inputTenNganHangKhac").setAttribute("required", false);
    //        document.getElementById("inputTenNganHangKhac").setAttribute("disabled", false);
    //    }
    //    else {
    //        document.getElementById("inputTenNganHangKhac").style.display = "none";
    //        document.getElementById("inputTenNganHangKhac").setAttribute("required", true);
    //        document.getElementById("inputTenNganHangKhac").setAttribute("disabled", true);
    //    }
    //}
    // id
    var ngaymoso = document.querySelector("#ngaymoso");
    var kyhan = document.querySelector("#kyhan");
    var sotienbandau = document.querySelector("#sotienbandau");
    var laisuat = document.querySelector("#laisuat");
    var laisuatkhongkyhan = document.querySelector("#laisuatkhongkyhan");
    var tralai = document.querySelector("#tralai");
    var khidenhan = document.querySelector("#khidenhan");

    //kyhan.classList.add("w3-hide");
    //sotienbandau.classList.add("w3-hide");
    //laisuat.classList.add("w3-hide");
    //laisuatkhongkyhan.classList.add("w3-hide");
    //tralai.classList.add("w3-hide");
    //khidenhan.classList.add("w3-hide");
    // check input of Date
    function checkingDateOpen() {
        var inputDate = document.getElementById("inputDate").value;
        var max = document.getElementById("inputDate").max;
        var min = document.getElementById("inputDate").min;

        if (inputDate != null) {
            kyhan.classList.remove("w3-hide");
            sotienbandau.classList.remove("w3-hide");
        }
    }
    // check valid of money
    var MinMoneyNumber = document.getElementById('sotiengoc').min;
    var MaxMoneyNumber = document.getElementById('sotiengoc').max;
    function checkvalidNumber() {
        var moneyNumber = document.getElementById('sotiengoc').value;

        if (moneyNumber > parseInt(MinMoneyNumber) && moneyNumber < parseInt(MaxMoneyNumber)) {
            laisuat.classList.remove("w3-hide");
            laisuatkhongkyhan.classList.remove("w3-hide");
        }

    }

    //check trả lãi
    var MinLaiSuatNumber = document.getElementById('laisuatNumber').min;
    var MaxLaiSuatNumber = document.getElementById('laisuatNumber').max;
    function checkLaiSuat() {
        var laisuatNumber = document.getElementById('laisuatNumber').value;
        if (laisuatNumber > parseFloat(MinLaiSuatNumber) && laisuatNumber < parseFloat(MaxLaiSuatNumber)) {
            tralai.classList.remove("w3-hide");
            khidenhan.classList.remove("w3-hide");
        }
    }



</script>

@* Thông báo thành công *@
<div id="thongbaoThanhCong" class="w3-modal" style="display:none">
    <div class="w3-modal-content login-panel panel panel-default w3-light-gray w3-animate-bottom" style="max-width:500px">
        <div class="w3-container">
            <section id="loginForm">
                <div class="w3-center">
                    <br>
                    <span onclick="document.getElementById('thongbaoThanhCong').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                    <div class="w3-margin-top">
                        <h1>
                            Thành công !
                        </h1>
                    </div>
                </div>
                <h4></h4>
                <hr />
                <img src="~/Content/hinhanh/success.png" class="col-md-4  w3-margin-bottom w3-image" />
                <div class=" col-md-8">
                    @ViewBag.Message
                    @Html.Raw(TempData["message"])
                </div>
                <div>
                    <button type="submit" class=" btn btn-success btn-lg btn-block w3-margin-bottom" onclick="document.getElementById('thongbaoThanhCong').style.display='none'">
                        ĐÓNG
                    </button>
                </div>
            </section>
        </div>
    </div>
</div>
@* đây là phần thông báo cho mỗi lần thao tác*@
<div id="thongbaoThatBai" class="w3-modal" style="display:none">
    <div class="w3-modal-content login-panel panel panel-default w3-light-gray w3-animate-bottom" style="max-width:500px">
        <div class="w3-container">
            <section id="loginForm">
                <div class="w3-center">
                    <br>
                    <span onclick="document.getElementById('thongbaoThatBai').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                    <div class="w3-margin-top">
                        <h1>
                            Thất bại !
                        </h1>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <img src="~/Content/hinhanh/warning.png" class="col-md-4  w3-margin-bottom w3-image" />
                    <div class=" col-md-8">
                        @ViewBag.Message
                        @Html.Raw(TempData["message"])
                    </div>
                </div>
                <div>
                    <button type="submit" class=" btn btn-danger btn-lg btn-block w3-margin-bottom" onclick="document.getElementById('thongbaoThatBai').style.display='none'">
                        ĐÓNG
                    </button>
                </div>

            </section>
        </div>

    </div>
</div>

@Html.Raw(TempData["MessageSuccess"])

@Html.Raw(TempData["MessageWarning"])