﻿@model KiemDuyetPhamMem_ThucHanh_SoTietKiem.SoTietKiem
@using KiemDuyetPhamMem_ThucHanh_SoTietKiem.Models
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Rút Một Phần";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Entities db = new Entities();
    int idstk = ViewBag.IdSoTietKiem;
    var dbstk = db.SoTietKiems.SingleOrDefault(a => a.IdSoTietKiem.Equals(idstk));
    var sotiengoc = dbstk.SoTienGoc;
    var kyhanso = dbstk.KyHan;
    var ngaygui = dbstk.NgayGui;
    DateTime ngayGui = (DateTime)ngaygui;
    //Đếm ngày bắt đầu từ ngày gữi -> ngày hiện tại
    var demNgay = (DateTime.Now - ngayGui).TotalDays;
    DateTime denkyhan1thang = ngayGui.AddDays(30);
    DateTime denkyhan3thang = ngayGui.AddDays(90);
    DateTime denkyhan6thang = ngayGui.AddDays(180);
    DateTime denkyhan12thang = ngayGui.AddDays(360);





}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal w3-hide">
        <h4>SoTietKiem</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdSoTietKiem)
    </div>
    <div id="id03" class="w3-modal" style="display:block">
        <div class="w3-modal-content login-panel panel panel-default w3-light-gray" style="max-width:500px">
            <div class="w3-container">
                <section id="loginForm">
                    <div class="w3-center">
                        <br>
                        @Html.ActionLink("x", "Index", "Home", new object { }, new { @class = "w3-button w3-xlarge w3-transparent w3-display-topright", @title = "Close Modal" })
                        <div class="w3-margin-top">
                            <h1>
                                Nhập số tiền muốn rút
                            </h1>
                        </div>
                    </div>
                    <h4></h4>
                    <hr />
                    <div class="form-group w3-hide">
                        <label class="col-md-3"><b>ID</b></label>
                        <div class="col-md-9">
                            @* onkeydown ở đây xử lý sự kiện nếu click vào chữ e, +, -, onkeyup="inputTienRut()" *@
                            <input name="id" value="@ViewBag.IdSoTietKiem"required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3"><b>Tiền rút</b></label>
                        <div class="col-md-9">
                            @* onkeydown ở đây xử lý sự kiện nếu click vào chữ e, +, -, onkeyup="inputTienRut()"
                                pattern="[0-9]"
                                title="Nhập số"*@
                            <input id="txttienguithem"
                                   onkeydown="javascript: return event.keycode == 69 || event.keycode == 107 || event.keycode == 109 ? false : true"
                                   class="w3-input w3-margin-bottom"
                                   name="tienRut"
                                   value="@ViewBag.TienRut"
                                   type="number"  />
                        </div>
                    </div>
                    <div>
                        @{
                            @*if (kyhanso == "không kỳ hạn")
                            {
                                <button type="submit" class=" btn btn-success btn-lg btn-block w3-margin-bottom">
                                    RÚT MỘT PHẦN
                                </button>
                            }
                            else if (kyhanso == "1 tháng" && demNgay >= 30)
                            {
                                <button type="submit" class=" btn btn-success btn-lg btn-block w3-margin-bottom">
                                    RÚT MỘT PHẦN
                                </button> }
                            else if (kyhanso == "3 tháng" && demNgay >= 90)
                            {
                                <button type="submit" class=" btn btn-success btn-lg btn-block w3-margin-bottom">
                                    RÚT MỘT PHẦN
                                </button> }
                            else if (kyhanso == "6 tháng" && demNgay >= 180)
                            {
                                <button type="submit" class=" btn btn-success btn-lg btn-block w3-margin-bottom">
                                    RÚT MỘT PHẦN
                                </button> }
                            else if (kyhanso == "12 tháng" && demNgay >= 360)
                            {
                                <button type="submit" class=" btn btn-success btn-lg btn-block w3-margin-bottom">
                                    RÚT MỘT PHẦN
                                </button> }
                            else
                            {
                                <a id="btnRutMotPhan" class="w3-btn btn-success btn-lg btn-block w3-margin-bottom">
                                    RÚT MỘT PHẦN
                                </a>
                            }*@
                            <button type="submit" id="btnRutMotPhan" class="w3-btn btn-success btn-lg btn-block w3-margin-bottom">
                                RÚT MỘT PHẦN
                            </button>
                            <div id="ThongBao" class="w3-modal" style="display:none">
                                <div class="w3-modal-content login-panel panel panel-default w3-animate-zoom w3-light-gray" style="max-width:400px;margin-top:10%">
                                    <div class="w3-container">
                                        <section id="loginForm">
                                            <div class="">
                                                <span onclick="document.getElementById('ThongBao').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
                                                <br>
                                                <div class="">
                                                    <h4>Chú ý!</h4>
                                                </div>
                                            </div>
                                            <div class=" w3-container w3-padding">
                                                <div class="w3-container w3-padding ">
                                                    <div class="w3-center">
                                                        <img src="~/Content/hinhanh/bee.png" style="width:30%" class="w3-margin-bottom w3-image" />
                                                    </div>
                                                    <div class="">
                                                        <p>Sổ tiết kiệm @(dbstk.TenNganHang + "_" + dbstk.IdSoTietKiem) đến hạn ngày :</p>
                                                        @if (kyhanso == "1 tháng")
                                                        {
                                                            <p>
                                                                @(denkyhan1thang.ToString().Split(' ')[0].Split('/')[1] + "/" + denkyhan1thang.ToString().Split(' ')[0].Split('/')[0] + "/" + denkyhan1thang.ToString().Split(' ')[0].Split('/')[2])
                                                            </p>
                                                        }
                                                        else if (kyhanso == "3 tháng")
                                                        {
                                                            <p>
                                                                @(denkyhan3thang.ToString().Split(' ')[0].Split('/')[1] + "/" + denkyhan3thang.ToString().Split(' ')[0].Split('/')[0] + "/" + denkyhan3thang.ToString().Split(' ')[0].Split('/')[2])
                                                            </p>
                                                        }
                                                        else if (kyhanso == "6 tháng")
                                                        {
                                                            <p>
                                                                @(denkyhan6thang.ToString().Split(' ')[0].Split('/')[1] + "/" + denkyhan6thang.ToString().Split(' ')[0].Split('/')[0] + "/" + denkyhan6thang.ToString().Split(' ')[0].Split('/')[2])
                                                            </p>
                                                        }
                                                        else if (kyhanso == "12 tháng")
                                                        {
                                                            <p>
                                                                @(denkyhan12thang.ToString().Split(' ')[0].Split('/')[1] + "/" + denkyhan12thang.ToString().Split(' ')[0].Split('/')[0] + "/" + denkyhan12thang.ToString().Split(' ')[0].Split('/')[2])
                                                            </p>
                                                        }
                                                        <p>số tiền rút ra trước kỳ hạn sẽ được tính lãi theo lãi suất không kỳ hạn (@dbstk.LaiSuatKhongKyHan%/Năm).</p>
                                                        <p>Bạn có muốn tiếp tục không ?</p>
                                                    </div>
                                                </div>
                                                <div class="w3-container w3-padding col-md-offset-5 col-md-7">
                                                    <div class="col-md-6">
                                                        @Html.ActionLink("KHÔNG", "Index", "Home", new object { }, new { @class = "btn  btn-lg btn-block w3-light-gray ", @style = "border:none" })
                                                    </div>
                                                    <div class="col-md-6">
                                                        <button type="submit" class="btn btn-lg btn-block w3-light-gray w3-text-blue" style="border:none">
                                                            CÓ
                                                        </button>
                                                    </div>

                                                </div>

                                            </div>
                                        </section>
                                    </div>

                                </div>
                            </div>
                        }
                    </div>

                </section>
            </div>

        </div>
    </div>

}
<script>
    $('#btnRutMotPhan').on('keyup keypress', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) {
            e.preventDefault();
            return false;
        }
    });
    function inputTienRut() {
        var txttienguithem = document.getElementById("txtTienGuiThem").value;
        var removeDots = txttienguithem.split('.').join("");

        var parseToInt = parseInt(removeDots);
        if (typeof parseToInt == 'number') {
            if (parseToInt > 1000) {
                var getstring = parseToInt.toLocaleString();
                document.getElementById("txtTienGuiThem").value = getstring;
            }

            //document.getElementById("btnRutMotPhan").classList.remove("w3-disabled");
            //document.getElementById("btnRutMotPhan").setAttribute("onclick", "document.getElementById('ThongBao').style.display='block'");
        }
        else {
            //document.getElementById("btnRutMotPhan").classList.add("w3-disabled");
            //document.getElementById("btnRutMotPhan").setAttribute("onclick", "");
        }
    }
</script>

<div id="thongbaoThatBai" class="w3-modal" style="display:none">
    <div class="w3-modal-content login-panel panel panel-default w3-light-gray w3-animate-top" style="max-width:350px">
        <div class="w3-container">
            <section>
                <div class="w3-center">
                    <br>
                    <span onclick="document.getElementById('thongbaoThatBai').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                    <div class="w3-margin-top">
                        <h1>
                            Thất bại !
                        </h1>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <img src="~/Content/hinhanh/warning.png" class="col-md-4  w3-margin-bottom w3-image" />
                    <div class=" col-md-8">
                        <p>@ViewBag.Message</p><br />
                        <p>@ViewBag.ErrorTienRut</p><br />
                        <p>@ViewBag.ErrorId</p><br />
                    </div>
                </div>
                <div>
                    <button type="submit" class=" btn btn-danger btn-lg btn-block w3-margin-bottom" onclick="document.getElementById('thongbaoThatBai').style.display='none'">
                        ĐÓNG
                    </button>
                </div>

            </section>
        </div>

    </div>
</div>

@Html.Raw(TempData["MessageSuccess"])

@Html.Raw(TempData["MessageWarning"])
