﻿@using KiemDuyetPhamMem_ThucHanh_SoTietKiem.Models

@{
    ViewBag.Title = "TatToanSo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Entities db = new Entities();
}



<!--form tất toán sổ -->
<div id="id04" class="w3-modal" style="display:block">
    <div class="w3-modal-content w3-animate-bottom" style="max-width:400px">
        <div class="w3-container">
            <section>
                <div class="w3-center">
                    <br>
                    @*<span onclick="document.getElementById('id04').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>*@
                    @Html.ActionLink("x", "Index", "SoTietKiems", new object { }, new { @class = "w3-button w3-xlarge w3-transparent w3-display-topright", @title = "Close Modal" })
                </div>
                @using (Html.BeginForm("TatToanSoInput","SoTietKiems"))
                {
                    @Html.AntiForgeryToken()
                            //IdSoTietKiem,Id_User,TenNganHang,NgayGui,SoTienGoc,KyHan,LaiSuat,LaiSuatKhongKyHan,TraLai,KhiDenHan,TinhTrang
                            <input name="Id" value="@ViewBag.IdSoTietKiem" class="w3-hide" />
                    <div class="form-horizontal">
                        <h4>Cảnh báo !</h4>
                        <hr />
                        <p>sổ tất toán trước kỳ hạn của bạn sẽ được tính theo lãi suất không kỳ hạn: @db.SoTietKiems.Find(ViewBag.IdSoTietKiem).LaiSuatKhongKyHan % </p>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <button type="submit" value="TẤT TOÁN" class="btn btn-warning btn-lg btn-block w3-margin-bottom">TẤT TOÁN</button>
                            </div>
                            <div class="col-sm-6">
                                @Html.ActionLink("QUAY LẠI", "Index", "SoTietKiems", new object { }, new { @class = "btn btn-default btn-lg btn-block w3-margin-bottom", @title = "trở về trang chính" })
                            </div>
                        </div>
                    </div>
                }

            </section>
        </div>

    </div>
</div>