﻿@using KiemDuyetPhamMem_ThucHanh_SoTietKiem.Models
@using Microsoft.AspNet.Identity
@{

    Entities db = new Entities();
    ViewBag.Title = "Them1";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listNganHang = new List<string>();
    listNganHang.Add("Vietcombank");
    listNganHang.Add("Sacombank");
    listNganHang.Add("ACBank");
    foreach (var item in db.NganHangCuaUsers)
    {
        listNganHang.Add(item.TenNganHang);
    }
    var iduser = User.Identity.GetUserId();
    decimal? tongsotientrongso = 0;
    int CountSTK = 0;
    foreach (var item in db.SoTietKiems.Where(x => x.Id_User.Equals(iduser)))
    {
        if (item.TinhTrang == "Mở")
        {
            tongsotientrongso = tongsotientrongso + item.SoTienGoc;
            CountSTK++;
        }
    }
    string ngay = "";
    string thang = "";
    if (DateTime.Now.Day < 10)
    {
        ngay = "0" + DateTime.Now.Day.ToString();
    }
    else
    {
        ngay = DateTime.Now.Day.ToString();
    }
    if (DateTime.Now.Month < 10)
    {
        thang = "0" + DateTime.Now.Month.ToString();
    }
    else
    {
        thang = DateTime.Now.Month.ToString();
    }
    string NgayHomNay = (DateTime.Now.Year).ToString() + "-" + thang + "-" + ngay;

}

<!--form thêm sổ -->
<div id="id04" class="w3-modal" style="display:block">
    <div class=" w3-modal-content login-panel panel panel-default w3-light-gray" style="max-width:700px">
        <div class="w3-container">
            <section>
                <div class="w3-center">
                    <br>
                    @Html.ActionLink("x", "Index", "Home", new object { }, new { @class = "w3-button w3-xlarge w3-transparent w3-display-topright", @title = "Close Modal" })
                </div>
                @using (Html.BeginForm("Them1", "SoTietKiems"))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Thêm sổ tiết kiệm mới </h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group" id="part1">
                            <label class="control-label  col-sm-5">Ngân Hàng</label>
                            <div class="col-sm-7">
                                <select id="selectTenNganHang" onclick="selectNH()" name="TenNganHang" class="form-control col-sm-7" required>
                                    <option value="Vietcombank">Vietcombank</option>
                                    <option value="Sacombank">Sacombank</option>
                                    <option value="ACBank">ACBank</option>
                                    @foreach (var item in db.NganHangCuaUsers)
                                    {
                                        <option value="@item.TenNganHang">@item.TenNganHang</option>
                                    }
                                </select>
                                @Html.ActionLink("    thêm ngân hàng", "CreateNganHang", "SoTietKiems", new { @class = "col-lg-offset-5" })
                            </div>
                        </div>
                        <div class="form-group" id="ngaymoso">
                            <label class="control-label col-sm-5">Ngày mở sổ</label>
                            <div class="col-sm-7">
                                <input name="NgayGui" onchange="checkingDateOpen()" id="inputDate" class="form-control col-sm-7" type="date" min='@(DateTime.Now.Year-10)-01-01' max='@NgayHomNay' required />
                            </div>
                        </div>
                        <div class="form-group w3-hide" id="">
                            <label class="control-label col-sm-5">Id_User</label>
                            <div class="col-sm-7">
                                <input name="id_user" class="form-control col-sm-7" value="@User.Identity.GetUserId()" required />
                            </div>
                        </div>
                        <button class=" btn btn-success btn-lg btn-block w3-margin-bottom" type="submit">
                            BƯỚC TIẾP THEO
                        </button>
                    </div>
                }
            </section>
        </div>

    </div>
</div>
@* Thông báo thành công *@
<div id="thongbaoThanhCong" class="w3-modal" style="display:none">
    <div class="w3-modal-content login-panel panel panel-default w3-light-gray w3-animate-bottom" style="max-width:500px">
        <div class="w3-container">
            <section id="loginForm">
                <div class="w3-center">
                    <br>
                    <span onclick="document.getElementById('thongbaoThanhCong').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                    <div class="w3-margin-top">
                        <h1>
                            Thành công !
                        </h1>
                    </div>
                </div>
                <h4></h4>
                <hr />
                <img src="~/Content/hinhanh/success.png" class="col-md-4  w3-margin-bottom w3-image" />
                <div class=" col-md-8">
                    @ViewBag.Message
                    @Html.Raw(TempData["message"])
                </div>
                <div>
                    <button type="submit" class=" btn btn-success btn-lg btn-block w3-margin-bottom" onclick="document.getElementById('thongbaoThanhCong').style.display='none'">
                        ĐÓNG
                    </button>
                </div>
            </section>
        </div>
    </div>
</div>
@* đây là phần thông báo cho mỗi lần thao tác*@
<div id="thongbaoThatBai" class="w3-modal" style="display:none">
    <div class="w3-modal-content login-panel panel panel-default w3-light-gray w3-animate-bottom" style="max-width:500px">
        <div class="w3-container">
            <section id="loginForm">
                <div class="w3-center">
                    <br>
                    <span onclick="document.getElementById('thongbaoThatBai').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                    <div class="w3-margin-top">
                        <h1>
                            Thất bại !
                        </h1>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <img src="~/Content/hinhanh/warning.png" class="col-md-4  w3-margin-bottom w3-image" />
                    <div class=" col-md-8">
                        @ViewBag.Message
                        @Html.Raw(TempData["message"])
                    </div>
                </div>
                <div>
                    <button type="submit" class=" btn btn-danger btn-lg btn-block w3-margin-bottom" onclick="document.getElementById('thongbaoThatBai').style.display='none'">
                        ĐÓNG
                    </button>
                </div>

            </section>
        </div>

    </div>
</div>

@Html.Raw(TempData["MessageSuccess"])

@Html.Raw(TempData["MessageWarning"])